**Задача 1**. Дано слово из латинских букв. Напишите скрипт, который выводит на экран букву из середины слова (если число букв нечетное). Если букв четное число, то на экран выводятся две буквы из середины.  

Пример: для 'test' должно выводится 'es', для 'testing' - 't'

In [3]:
name = input('any word')
y = int((len(b)/2))
if len(b) % 2 == 0:
    print(b[y-1], b[y])
else: 
    print(b[y])

any wordartem
t

**Задача 2**. Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

In [49]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
boys_2 = sorted(boys)
girls_2 = sorted(girls)
list_1 = zip(boys_2, girls_2)
print ('Идеальные пары:', '')
for names in list_1:
    print(f'{names[0]} и {names[1]}')

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! "Познакомить" пары нам поможет функция zip, а в цикле распакуем zip-объект и выведем информацию в виде:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha

**Внимание! Если количество людей в списках будет не совпадать, то мы никого знакомить не будет и выведем пользователю предупреждение, что кто-то может остаться без пары!**

**Задача 3**. У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [1]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

for i in countries_temperature:
    print(i[0], round((sum(i[1])/len(i[1])),1))

Thailand 74.9
Germany 56.7
Russia 38.7
Poland 53.3

**Задача 4.** Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [17]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

# Получилось вывести показы, но не получается произвести для них действие суммирования почему-то. 
Пробовала менять тип на int и float - тоже ошибка


for a in stream:
    stream1 = a.split(',')
    views = int(stream1[2])
    list1 = (views)
    print(list1)
    for view in list1:
        print(sum(view))
_____________________
for a in stream:
    stream1 = a.split(',')
    for element in stream1:
        result = sum(element)
        print(result)
_____________________        
for a in stream:
    stream1 = a.split(',')
    views = int(stream1[2])
    views1 = list(views)
    for el in views1:
        y = sum(el)
        print(y)

3

TypeError: 'int' object is not iterable

**Задача 5**. Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [ ]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

date = input('date ')
company = input('company ')
for stat in stats:
    if (stat[0] == date and stat[1] == company):
        print(stat[2])
    else:
        print('The data not in list')

**Задача 6**. Дан список вида:

In [14]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]


a = 0
for i in data:
    #print(i[a])
    a = a + 1
print(sum(i))

135

Напишите код, который будет вычислять сумму элементов на диагонали. Т. е. 13+32+23+35.  
Список может быть любой длины, но всегда является "квадратным" (количество элементов во вложенных списках равно их количеству).